.contact-section {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-body {
  width: 30%;
  padding: 30px 60px 0px 60px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px 0 20px 0;
}

.contact-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

.contact-message {
  font-size: 30px;
  margin-top: 20px;
}

.contact-button {
  width: 30%;
}