.nav {
  position: absolute;
  top: 0;
}

a {
  text-decoration: none;
}

.social-icon {
  width: 40px;
  height: 40px;
  padding-left: 5px;

  &:hover {
    transition: 0.5s;
    filter: blur(4px);
  }
}