.contact-block {
  background-color: #e0aaff;
}

.contact-content {
  background-color: #e0aaff;
  color: #3c096c;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-message-body {
  width: 30%;
  padding: 30px 60px 0px 60px;
}

.contact-form-submitted {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin-top: 5em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px 0 20px 0;
}

.contact-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

.contact-message {
  font-size: 30px;
  margin-top: 20px;
}

.contact-button {
  width: 30%;
}

.heading-line::before {
  content: "";
  width: 8rem;
  height: 0.11rem;
  display: block;
  margin: 0 auto;
  background-color: #9926f0;
}

.heading-line::after {
  content: "";
  width: 0.5rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #9926f0;
}
