.footer {
  text-align: center;
  color: white;
  background-color: #000000;
  height: 100%;
}

.footer-text {
  padding-top: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #9926f0;
  border-color: #9926f0;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
}

.rounded-circle {
  border-radius: 50% !important;
}
