.project-container {
  background-color: #7b2cbf;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0 0 10px 0;
  padding-bottom: 24px;
  font-size: 50px;
  font-family: "butler-regular";
  animation: fadeInFromTop 1s;
}

.project-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 58%;
  margin-top: 20px;
}
.project-block .toggle-button {
  margin: 20px 0 25px 0;
  text-align: center;
}
.project-block .inner-container {
  display: inline-flex;
  position: relative;
  height: 220px;
  margin-bottom: 3.1em;
  border-radius: 15px 55px;
  border: 5px solid rgb(178, 106, 182);
  transition: 0.5s;
}
.project-block .inner-container:hover {
  transition: 0.5s;
  box-shadow: rgba(255, 254, 255, 0.5) 10px 10px;
}
.project-block .inner-container .image-card-left {
  position: relative;
  z-index: 1;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px 50px;
  transition: 0.5s;
  filter: grayscale(80%);
}
.project-block .inner-container .image-card-left:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.project-block .inner-container .image-card-left .gif-showcase {
  border-radius: 10px 50px 10px 50px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project-block .inner-container .description-card-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  left: 47.75%;
  margin: 0;
  height: 220px;
  width: 500px;
  border-radius: 0 50px 50px 0;
  transition: 1s;
}
.project-block .inner-container .image-card-right {
  position: relative;
  left: 0%;
  z-index: 1;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px 0px 15px 10px;
  transition: 0.5s;
  filter: grayscale(80%);
}
.project-block .inner-container .image-card-right:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.project-block .inner-container .image-card-right .gif-showcase {
  border-radius: 10px 50px 10px 50px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project-block .inner-container .description-card-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 220px;
  width: 500px;
  border-radius: 50px 0 0 50px;
  transition: 1s;
}
.project-block .inner-container .stack-info-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5.5rem 0 0 10rem;
  position: absolute;
  z-index: 2;
}
.project-block .inner-container .stack-info-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5.5rem 12rem;
  position: absolute;
  z-index: 2;
}
.project-block .inner-container .stack-icon {
  padding-left: 10px;
  height: 20%;
  width: 5%;
}
.project-block .inner-container .info-button {
  font-weight: bold;
  margin-left: 10px;
  width: 125px;
  height: 45px;
}
.project-block .inner-container .button-wrapper {
  border-radius: 24px;
  height: 35px;
  width: 150px;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: relax 1s;
}
.project-block .inner-container .button-wrapper .button-to-project {
  font-size: 25px;
  font-family: "butler-regular";
  text-decoration: none;
  text-align: center;
  color: inherit;
  height: 25px;
  width: 100%;
}
.project-block .inner-container .button-wrapper:hover {
  cursor: pointer;
  animation: stretch 1s;
  animation-fill-mode: forwards;
}

.toggle-button-cell {
  background: white;
}

.project-description-container {
  margin: 0.5em 2em 0.5em 2em;
  width: 55%;
}
.project-description-container .project-title {
  margin-top: 0.5em;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.project-description-container .project-description {
  margin-top: 0.5em;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.hover-left {
  width: 65% !important;
  transition: 0.5s !important;
  cursor: pointer;
}
.hover-left .gif-showcase {
  border-radius: 10px 0px 0px 50px !important;
  transition: 0.5s !important;
  filter: blur(4px);
}

.hover-right {
  width: 65% !important;
  left: 35% !important;
  transition: 0.5s !important;
  cursor: pointer;
}
.hover-right .gif-showcase {
  border-radius: 0px 50px 10px 0px !important;
  transition: 0.5s !important;
  filter: blur(4px);
}

.s1 {
  animation: fadeInFromRight 1s;
  animation-fill-mode: forwards;
}

.s2 {
  animation: fadeInFromLeft 2s;
  animation-fill-mode: forwards;
}

.s3 {
  animation: fadeInFromRight 2.75s;
  animation-fill-mode: forwards;
}

.s4 {
  animation: fadeInFromLeft 3.5s;
  animation-fill-mode: forwards;
}
